.content {
  flex-direction: column;
  position: relative;
  display: flex;

  height: 100%;
  width: 100%;
}

.content .row {
  flex-direction: row;
  max-height: 100%;
  display: flex;
  flex: 1;
}

.content .row.loading, .content.blured {
  filter: blur(8px);
}

.content .row .groups {
  min-width: 200px;
  width: 200px;
}

.content .row .credentials {
  width: calc(100% - 200px);
  overflow: hidden;
}

.content.loading .credential {
  filter: blur(5px);
}

.content.loading .overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 100;

  background-color: rgba(0,0,0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}

