.item.credential {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 0 14px;
  display: flex;
  
  min-height: 50px;
  height: 50px;
}

.item.credential .details {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 40px;
  flex: 1;
}

.item.credential .details .field {
  font-size: 12px;
  margin-top: 4px;
  display: flex;
  width: 200px;
}

.item.credential .details .field span {
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin-left: 8px;
  max-width: 140px;
}

.item.credential .details .field strong {
  display: inline-block;
  user-select: none;
  min-width: 60px;
  opacity: 0.7;
}

.item.credential .actions {
  display: flex;
}

.item.credential .actions .action {
  border: 1px solid rgba(0,0,0,0.1);
  background-color: transparent;
  border-radius: 50%;
  color: #000;
  height: 30px;
  width: 30px;
}

.item.credential .actions .action:hover {
  background-color: rgba(0,0,0,0.1);
}

.item.credential .actions .action svg {
  height: 15px;
  width: 15px;
}

.item.credential .actions .action:first-child {
  margin-right: 8px;
}