.notes.list {
  flex-direction: column;  
  overflow-y: auto;
  display: flex;
}

.notes.list.empty {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.notes.list.empty > .title {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
  font-size: 14px;
}

.notes.list .item {
  transition: all 0.3s ease;
  align-items: center;
  position: relative;

  align-items: center;
  display: flex;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0);
  padding: 0 14px;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.notes.list .item span {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  font-size: 12px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notes.list .item::before {
  transition: all 0.3s ease;
  background-color: #607D8B;
  position: absolute;
  height: 50px;
  content: "";
  width: 4px;
  left: -4px;
  top: 0;
}

.notes.list .item:hover::before, .notes.list .item.selected::before {
  left: 0px;
}