.credentials {
  background-color: #fff;
  flex-direction: column;
  display: flex;
}

.credentials > .title {
  justify-content: space-between;
  align-items: center;
  display: flex;

  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 14px;
  height: 50px;
}

.credentials > .title span {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.credentials > .title .actions {
  display: flex;
}

.credentials > .title .button.create {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: transparent;
  padding: 6px 12px;
  color: #000;
}

.credentials > .title .button.create:first-child {
  margin-right: 10px;
}

.credentials > .title .button.create:hover {
  background-color: rgba(0,0,0, 0.1);
}

.credentials .list {
  flex-direction: column;
  position: relative;
  display: flex;

  height: calc(100% - 50px);
  overflow-y: auto;  
}

.credentials .list.empty {
  justify-content: center;
  align-items: center;
  display: flex;
}

.credentials .list > .title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 16px;
}

.credentials .list .button.reload {
  background-color: #EEEEEE;
  color: #000;

  margin-top: 14px;
  font-size: 12px;
  height: 36px;
  width: 120px;
}

.credentials .list .button.reload:hover {
  background-color: #E0E0E0;
}
